.srch_sel_wrap {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0 50px 20px;
}

.srch_sel_wrap .search_bar {
  position: relative;
  margin-right: 20px;
}

.srch_sel_wrap .search_input {
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--color-dark);
  padding: 0 40px 0 15px;
  transition: all ease-out 0.2s;
}

.srch_sel_wrap .search_input:focus {
  border: 1px solid var(--color-orange);
  outline: none;
  box-shadow: 0 0 15px -3px var(--color-lightorange);
  transition: all ease-out 0.2s;
}

.srch_sel_wrap .search_btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 0 20px 20px 0;
}

.srch_sel_wrap .search_btn .fa-solid {
  font-size: 16px;
  transition: color ease-out 0.2s;
}

.srch_sel_wrap .search_bar:hover .search_btn .fa-solid,
.srch_sel_wrap .search_input:focus + .search_btn .fa-solid {
  color: var(--color-orange);
  transition: color ease-out 0.2s;
}

.board_format table {
  background-color: #fafafa;
  border-radius: 12px;
  margin: 0 50px 20px;
  table-layout: fixed;
}

.board_format .tbList {
  margin: 0 0 20px 50px;
}

.board_format .tbDlt {
  margin: 0 50px 20px 0;
}

.board_format thead {
  background-color: var(--color-sub-dark);
  color: var(--color-white);
}

.board_format th,
.board_format td {
  padding: 0 30px;
  white-space: nowrap;
}

.board_format th {
  height: 40px;
  font-weight: 500;
  text-align: center;
}

.board_format .board_title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.board_format td {
  height: 60px;
  text-align: center;
}

.board_format th:first-child {
  border-radius: 12px 0 0 0;
}

.board_format th:last-child {
  border-radius: 0 12px 0 0;
}

.board_format tbody tr {
  cursor: pointer;
  border-bottom: 1px solid #eaeaea;
}

.board_format tbody tr:nth-child(even) {
  background-color: var(--color-sub-faint);
}

.board_format tbody tr:last-child {
  border-bottom: none;
}

.board_format tbody tr td:first-child {
  border-radius: 12px 0 0 12px;
}

.board_format tbody tr td:last-child {
  border-radius: 0 12px 12px 0;
}

.board_format tbody tr:hover {
  /* box-shadow: 0 0 10px 5px var(--color-lightgray);
  border-radius: 12px;
  background-color: var(--color-white); */
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}

.board_format .board_btn_wrap {
  padding: 0 15px;
}

.board_format .board_btn {
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  word-break: keep-all;
  padding: 7px 10px;
  background-color: var(--color-white);
}

.board_format .ellipsis {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 10.5em;
}
